// 60rem and wider: laptops and desktops

h1 {
    font-size: 3.25rem;
}

.project {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

.project__image {
    margin: 0;
}

.builds,
.courses {
    grid-template-columns: repeat(3, 1fr);
}

.resume {
    grid-template-columns: 3fr 2fr;
}

.article h1 {
    font-size: 2.75rem;
}
